h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    color: #ef5d00;
}

p {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    text-align: justify;
}

.story-image {
  float: left;
  width: 412px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}