<main>
  <header>
    <h1>Angular App</h1>
  </header>
  <!--
  An Angular selector is a special directive that allows you to define a custom HTML tag, attribute, or class that represents an Angular component in your application. When the selector is used in your templates, Angular automatically renders the associated component and handles its lifecycle. This selector represents the component responsible for navigation.
  -->
  <stg-advanced-angular-nav></stg-advanced-angular-nav>
  <!--
  An Angular router-outlet is a directive that allows you to define where the router will render the components for a given route. It acts as a placeholder for the component that will be displayed when the route is activated. You can think of it as a viewport where the content of the current route is displayed. This directive is typically used in the root component of your application and any other components that serve as entry points for different routes.
  -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <aside class="aside">
    <h3>Instructions</h3>
    <ul>
      <li><a routerLink="instructions/component-architecture">Component Architecture</a></li>
      <li><a routerLink="/rxjs">Reactive Programming with RxJS</a></li>
      <li><a routerLink="/advanced-routing">Advanced Routing</a></li>
      <li><a routerLink="/state-management">State Management</a></li>
      <li><a routerLink="/advanced-forms">Advanced Forms</a></li>
      <li><a routerLink="/performance-optimization">Performance Optimization</a></li>
      <li><a routerLink="/testing">Testing</a></li>
      <li><a routerLink="/internationalization">Internationalization (i18n) and Accessibility</a></li>
    </ul>
  </aside>
  <!-- This Angular selector is for the footer -->
  <stg-advanced-angular-footer></stg-advanced-angular-footer>
</main>
