<nav>
  <a routerLink="home">Home</a>
  <a routerLink="sunsetblvd">Sunset Boulevard</a>
  <a routerLink="store">Store</a>
  <a routerLink="blog">Blog</a>
  <a routerLink="manage-store">Manage Store</a>
  <a [routerLink]="['/angular-modules']" routerLinkActive="active">Feature Modules</a>
  <!-- Logout Button -->
  <button *ngIf="currentUser$ | async; else loginTemplate" class="logout-btn" (click)="logout()">Logout</button>
  <!-- Login Button -->
  <ng-template #loginTemplate>
    <button class="login-btn" (click)="login()">Login</button>
  </ng-template>
</nav>
