/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Main Layout */
main {
  display: grid;
  grid-template-areas:
    'header header'
    'nav nav'
    'aside content'
    'footer footer';
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin: 0 auto;
  padding: 0px;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-image: url('https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?auto=format&fit=crop&w=2070&h=500&q=80');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

stg-advanced-angular-nav {
  grid-area: nav;
}

stg-advanced-angular-footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f4f4f4;
  padding: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #666;
}

nav a.active {
  color: #666;
  font-weight: bold;
}

pre {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  white-space: pre-wrap;
  overflow-x: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

/* Add this new class for login button */
.login-btn {
  background-color: green;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: lightgreen;
}

.login-btn:active {
  background-color: #222;
}

.login-btn:focus {
  outline: none;
}

/* Class for logout button */
.logout-btn {
  background-color: #bf0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #cf0000;
}

.logout-btn:active {
  background-color: #af0000;
}

.logout-btn:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  grid-area: content;
  padding: 1rem;
}

.aside {
  grid-area: aside;
  padding: 1rem;
  background: #f4f4f4;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* ... Header Tags ... */
h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Buttons */
button, input[type="submit"], input[type="button"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #444;
}

button:active, input[type="submit"]:active, input[type="button"]:active {
  background-color: #222;
}

button:focus, input[type="submit"]:focus, input[type="button"]:focus {
  outline: none;
}

/* Form Elements */
input[type="text"], input[type="email"], input[type="password"], textarea, select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.5rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* Lists */
ul, ol {
  list-style: none;
  padding-left: 1rem;
}

li {
  padding-bottom: 0.5rem;
}
